---
import { t } from "@/i18n";
import { getLocale } from "@/utils/getLocale";

const locale = getLocale(Astro);

import { NavModule, NavOption } from "../../types/nav";
import MenuItem from "./SideBarMenuItem.astro";


interface Props {
  modules?: NavModule[];
  options?: NavOption[];
  brandTitle?: string;
}

const {
  modules = [],
  options = [],
  brandTitle = "SynapxIA",
} = Astro.props as Props;
---

<aside
  class="sidebar fixed left-0 top-0 z-[9999] hidden h-screen w-[290px] flex-col overflow-y-hidden border-r border-gray-200 bg-white px-5 pt-8 pb-8 shadow-sm duration-300 ease-linear dark:border-gray-800 dark:bg-black lg:static lg:flex lg:translate-x-0"
>

  <!-- SIDEBAR HEADER -->
  <div class="sidebar-header flex items-center gap-2 pb-7">
    <div class="flex items-center gap-3">
      <div
        class="flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600 text-white font-semibold"
      >
        IA
      </div>
      <div class="leading-tight">
        <p class="text-2xl font-semibold text-gray-900 dark:text-white">
          {brandTitle}
        </p>
      </div>
    </div>
  </div>
  <!-- SIDEBAR HEADER -->

  <div class="flex flex-col overflow-y-auto no-scrollbar">
    <!-- SIDEBAR MENU -->
    <nav>
      <!-- Menu Group -->
      <div>
        <h3 class="mb-4 text-xs uppercase leading-[20px] text-gray-400">
          <span
            class="menu-group-title"
          >
            {t(locale, "sidebar.menu_title")}
          </span>
        </h3>

        <ul class="flex flex-col gap-4 mb-6">
          <!-- Menu Item Module -->
          {
            modules.map((module) => (
            <li>
              <MenuItem
                module={module}
                options={options.filter((option) => option.module === module.code)}
              />
            </li>
            ))
            }

        </ul>
      </div>
      <!-- Menu Group -->
    </nav>
    <!-- SIDEBAR MENU -->
  </div>
</aside>
