---
import BaseLayout from "../layouts/BaseLayout.astro";
import DefaultInputsCard from "../components/forms/DefaultInputsCard.astro";
import SelectInputsCard from "../components/forms/SelectInputsCard.astro";
import TextareaCard from "../components/forms/TextareaCard.astro";
import InputStatesCard from "../components/forms/InputStatesCard.astro";
import InputGroupCard from "../components/forms/InputGroupCard.astro";
import FileInputCard from "../components/forms/FileInputCard.astro";
import CheckboxesCard from "../components/forms/CheckboxesCard.astro";
import RadiosCard from "../components/forms/RadiosCard.astro";
import TogglesCard from "../components/forms/TogglesCard.astro";
import DropzoneCard from "../components/forms/DropzoneCard.astro";

const title = "TailAdmin x Astro";
const navItems = [
  { label: "Dashboard", href: "/" },
  { label: "Forms", href: "/forms" },
  { label: "Calendar", href: "#" },
  { label: "User Profile", href: "#" },
  { label: "Tables", href: "#" },
  { label: "Pages", href: "#" },
];
---
<BaseLayout title={title} navItems={navItems}>
  <div class="mx-auto max-w-6xl space-y-6">
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
      <div class="space-y-6">
        <DefaultInputsCard />
        <SelectInputsCard />
        <TextareaCard />
        <InputStatesCard />
      </div>

      <div class="space-y-6">
        <InputGroupCard />
        <FileInputCard />
        <CheckboxesCard />
        <RadiosCard />
        <TogglesCard />
        <DropzoneCard />
      </div>
    </div>
  </div>
</BaseLayout>
